body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  margin: 0;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
}
h2 {
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
  padding-left: 5px;
  padding-right: 5px;
}
p {
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  width: 6%;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 50px;
  border: 20px;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer {
  height: 128px;
  width: 128px;
  float: left;
  margin-right: 30px;
}
.games {
  height: 128px;
  width: 128px;
  float: right;
  margin-left: 30px;
}

.contact-me {
  padding-bottom: 2rem;
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  line-height: 2;
  font-size: 0.7rem;

}




.btn {
   background: #77E7BD;
   background-image: -webkit-linear-gradient(top, #77E7BD, #66BFBF);
   background-image: -moz-linear-gradient(top, #77E7BD, #66BFBF);
   background-image: -ms-linear-gradient(top, #77E7BD, #66BFBF);
   background-image: -o-linear-gradient(top, #77E7BD, #66BFBF);
   background-image: -webkit-gradient(to bottom, #77E7BD, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 108px;
   font-size: 16px;
   font-weight: 100;
   padding: 22px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
